                <td class="first"><%= line.get('title') %></td>
                <td><%= dc.inflector.commify( line.get('day') ) %></td>
                <td><%= dc.inflector.commify( line.get('week') ) %></td>
                <td><%= dc.inflector.commify( line.get('month') ) %></td>
                <td><%= dc.inflector.commify( line.get('half_year') ) %></td>
                <td><%= dc.inflector.commify( line.get('total') ) %></td>
                <td class="line.get('last')"></td>
