                <td class="first"><img class="doc" src="<%= thumbnail_url %>" /></td>
                <td><%= id %></td>
                <td><%= public ? dc.inflector.truncate( title || '', 50) : '<i>private</i>' %></td>
                <td><%= account_name %></td>
                <td><%= organization_name %></td>
                <td><%= page_count %></td>
                <td class="last"></td>
