                <td class="first"><img class="doc" src="<%= line.get('thumbnail_url') %>" /></td>
                <td><%= line.get('id') %></td>
                <td><%= line.get('public') ? dc.inflector.truncate( line.get('title') || '', 50) : '<i>private</i>' %></td>
                <td><%= line.get('account_name') %></td>
                <td><%= line.get('organization_name') %></td>
                <td><%= line.get('page_count') %></td>
                <td class="last"></td>
