    <td class="validated"><%= validated ? '✓' : '' %></td>
    <td>
      <img class="avatar" src="<%= dc.model.Account.prototype.DEFAULT_AVATAR %>" width="25" height="25" />
      <%= name %>
    </td>
    <td><a href="mailto:<%= email %>"><%= email %></a></td>
    <td><%= organization_name %></td>
    <td><%= usage %></td>
    <td><%= created_at %></td>
