                <td class="first"><%= title %></td>
                <td><%= day %></td>
                <td><%= week %></td>
                <td><%= month %></td>
                <td><%= half_year %></td>
                <td><%= total %></td>
                <td class="last"></td>
