                <td>
                  <b><%= dc.inflector.truncate(line.get('search_query') || '', 80) %></a></b><br />
                  <a href="<%= line.get('url') %>"><%= dc.inflector.truncate(line.get('url') || '', 100) %></a>
                </td>
                <td>
                  <%= line.get('hits') %>
                </td>
                <td><%= line.get('first_recorded_date') %></td>
                <td class="last"></td>
