<%
  @title  = "Join Document Cloud"
  @header = "Join Us: Apply for an account"
%>

<div id="content">

  <div id="apply">
    <h2>Looking for an account?</h2>

    <p>If you’re interested in using DocumentCloud, just ask. <i>Okay, so it isn't quite that simple:</i></p>

    <p>DocumentCloud accounts are all newsroom based. DocumentCloud is available to anyone who reports on primary source documents. For the most part our users are journalists, but if you are doing document based investigative reporting we'd love to have you join us, even if you aren't a newsroom-based journalist in the conventional sense. If you're not in a traditional newsroom, please do show us some of your reporting and tell us a little bit about the kind of documents you're working with.</p>
    
    <p>If that describes you, please fill out the form below. We ask two things of prospective users: permission to add your newsroom to our public list of <a href="/contributors">document contributors</a> (you'd be in <a href="/contributors">excellent company</a>) and a note (email is just fine) from your editor or editorial director confirming that they understand that you'll be contributing documents to a public catalog and approve your participation in DocumentCloud. Once we get the go-ahead from your editor, expect to be up and running within two weeks. </p>

    <hr>

    <form id="application_form" action="<%= DC.server_root(:force_ssl => true) %>/apply" method="POST">
      <%= token_tag %>

      <div class="labeled_row">
        <label for="name">Name:</label>
        <div class="text_input light" style="">
          <div class="inner">
            <input type="text" name="application[name]" placeholder="Your Name" id="name" />
          </div>
        </div>
      </div>

      <div class="labeled_row">
        <label for="email">Email:</label>
        <div class="text_input first light">
          <div class="inner">
            <input type="text" name="application[email]" placeholder="Email" id="email" />
          </div>
        </div>
      </div>

      <div class="labeled_row">
        <label for="organization">News Organization:</label>
        <div class="text_input first light">
          <div class="inner">
            <input type="text" name="application[organization]" placeholder="Organization" id="organization" />
          </div>
        </div>
      </div>

      <label class="usage" for="usage">I want to use DocumentCloud for:</label>
      <textarea class="text_area usage" name="application[usage]"></textarea>

      <input type="submit" class="minibutton submit" value="Submit Application"/>

    </form>


  </div>

</div>
