<%
  @title  = "Contact"
  @header = "Contact: All the ways to get in touch"
%>

<div id="content">

  <h2 id="officehours">Office Hours</h2>

  <p>We're experimenting with something new: office hours. Find us in <tt>#documentcloud</tt> on <tt>irc.freenode.net</tt>. New to IRC? The <a href="http://webchat.freenode.net/?channels=documentcloud">webchat</a> is the easiest way to hop on, but if you want to know more about how IRC works, there's <a href="http://www.irchelp.org/irchelp/ircprimer.html">a primer</a> for that, or if you're ready to test out different IRC clients, check out <a href="http://socialsourcecommons.org/tag/IRC">Social Source Commons</a>.</p>

  <p><a href="/about">Jeremy (as jashkenas) and Ted (as knowtheory)</a> should definitely be in the channel most workdays from 9-5 eastern time, and the odds are good we'll keep longer hours than that. Drop in and let us know where you're stuck!</p>

  <h2>Other Questions</h2>

  <p>Most questions about how to use DocumentCloud should be sent to <a href="mailto:support@documentcloud.org?subject=contact">support@documentcloud.org</a>. For other questions, feel free to  <a href="mailto:info@documentcloud.org?subject=question">email us</a> or phone (202) 505-1010. </p>

  <p>Looking for technical support DocumentCloud? Browse <a href="/help">our documentation</a>, drop into IRC or write to <a href="mailto:support@documentcloud.org?subject=contact">support@documentcloud.org</a>. We always welcome DocumentCloud bug reports and feature requests at <a href="http://documentcloud.uservoice.com">UserVoice</a>.  </p>

  <p>If you need help implementing our software components (eg. Jammit, CloudCrowd, Underscore.js, Backbone.js, Docsplit, or Pixel Ping) please file an issue <a href="http://github.com/documentcloud">directly on Github</a>.  </p>

</div>
