<% if flash[:error] %>
      <div class="form_error">
        <span><%= flash[:error] %></span>
      </div>
<% else %>

<h3>Your application has been verified.</h3>

<p>
  Someone from our support team should be contacting you within a few business days to continue the application
  process.
</p>
<p>
  If you do not hear from us, or you have any questions at all, please don't hesitate to contact us directly at
  <a href="mailto:support@documentcloud.org">support@documentcloud.org</a>.
</p>
<p>
  Thank for your interest in an account.
</p>

<% end %>
