  <div class="title">Moderate Notes</div>
  <label><input type="checkbox" class="hideapproved">Hide Approved</label>
  <div class="approve_all minibutton default float_right">Approve All</div>
  <div class="dateslider"></div>
