
<h3>You've sucessfully signed up for a DocumentCloud personal account</h3>

Welcome, <%= @current_account.full_name %>.
<a href="/"><span class="minibutton default">Start using DocumentCloud</span></a>

