<% @stylesheets=[:login] %>
<div id="account_signup" class="success">

  <h3>Welcome, <%= @current_account.full_name %>.</h3>
  <h4>You've sucessfully signed up for a DocumentCloud personal account</h4>

  <br/>
  <a href="/"><span class="minibutton default">Start using DocumentCloud</span></a>

</div>
